/* Common styles  */
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.btn {
    padding: 20px 40px;
    border-radius: 30px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border: none;
    background-color: #FF42A5;
}

/* nav styles  */
nav {
    display: flex;
    justify-content: space-around;
    height: 20vh;
    align-items: center;
}

.nav-logo img {
    width: 80px;
    height: 40px;
}

.nav-logo h1 {
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
}

.nav-logo h1 span {
    color: #FF42A5;
}

.nav-links ul {
    list-style: none;
    display: flex;
    gap: 50px;

}

.nav-links ul li>a {
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.nav-follow-us-box {
    background-color: rgba(11, 2, 35, 0.10);
    padding: 15px 15px;
    border-radius: 5px;
    margin-top: -10px;

}

/* banner section styles  */
.banner-container {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url('../images/Group\ 14.png');
    background-repeat: no-repeat;
    background-size: contain;



}

.banner-content {
    margin: 20px 0px;
}

.banner-content-2 img {
    width: 100%;
    margin-top: 20px;
}


.banner-title {
    color: #0B0223;
    text-align: left;
    font-size: 53px;
    font-weight: 600;
}

.banner-highlight {
    font-size: 95px;
    font-weight: 800;
    text-align: left;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;



}

.banner-description {
    color: #534C64;
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 50px;

}

.banner-description p {
    margin-bottom: 8px;
    margin-top: 8px;
}

.go-rogue-btn {
    background-color: #4EC5F7;
    margin-left: 10px;
}

/* we are gamer styles  */
.we-are-gamer-container {
    width: 100%;
    margin: auto;
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
}

.we-are-gamer-title {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 10px;
}

.we-are-gamer-description {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}

.we-are-gamer-content {
    text-align: right;
    width: fit-content;

}

.know-more-btn {
    font-size: 18px;
    padding: 10px 15px;
    margin-bottom: 40px;
}

.we-are-gamer-content-image {
    width: 100%;
}

/* online gamer section style  */
.online-gamer-title {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 8px;
}

.online-gamer-title span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.online-gamer-description {
    text-align: center;
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
}

.online-games-box-content {
    width: 80%;
    margin: 40px auto;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
}

.online-games-box img {
    width: 100%;
}

.online-games-box {
    overflow: hidden;
}

.hide {
    display: none;
    background-color: gray;
    text-align: center;
    align-self: center;
    width: 342px;
    height: 400px;
    border-radius: 15px;
    position: relative;

}

.hide-icon {
    margin-top: 150px;
    margin-bottom: 10px;
    color: white;
    position: relative;
}

.online-games-box:hover .hide {
    display: block;
}


/* play instantly styles      */
.play-instantly-container {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    text-align: right;
    margin: 50px 0px;
}

.play-instantly-title {

    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
}

.play-instantly-description {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
}

.play-instantly-title span {
    color: #F948B2;
}


.p-i-c-i-1 {

    width: 100%;
    position: relative;
}

.p-i-c-i-2 {

    width: 250px;
    position: relative;
    margin-top: -300px;
    right: 82%;
}

/* games catagories section styles  */
.games-catagories{
    width: auto;
    height: 40vh;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 239, 239);
    
}
.games-catagories-container{
    display: grid;
    gap: 15px;
    width: 85%;
    margin: 0 auto;
    padding-top: 50px;
    grid-template-columns: repeat(5,1fr );
    grid-template-rows: repeat(2,1fr);
    
  

}
.games-catagories-box{
    display: flex;
    padding: 20px 8px ;
    background-color: #FFF;
    border-radius: 25px;
    margin-bottom: 15px;
   
   
}
.games-catagories-box:hover{
    color: #FF42A5;
    border: 2px solid #FF42A5;
}
.games-catagories-box h5:hover{
    color: #FF42A5;
 
}
.games-catagories-box h5{
    font-size:15px;
    font-weight: 800;
    color: black;
}
.games-catagories-box img {
    width: 35px;
    height: 30px;
    margin: 0px 8px;
}
/* footer styles  */
.footer-container{
    background-color: #0B0223;
    color: white;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
    text-align: center;
}
.footer-logo img {
    width: 80px;
    height: 40px;
}
.footer-list-item ul{
    display: grid;
    grid-template-columns: repeat(6,150px); 
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    list-style: none;
    padding-bottom:25px ;
    

}
.footer-list-item ul li{
    text-align: center;
    font-size: 20px;
}
.footer-icons{
    font-size: 25px;
    display: grid;
    grid-template-columns: repeat(6,70px); 
       align-items: center;
       justify-content: center;
       text-align: center;
       padding-bottom: 20px;
       margin-top: 15px;
}
.terms-condition-section ul{
    display: grid;
    grid-template-columns: repeat(6,200px);
    justify-content: center;
    align-items: center;
    margin-left: 400px;
    margin-bottom: 20px;
    list-style: none;
color: rgba(255, 255, 255, 0.60);
font-size: 16px;
font-weight: 500;
}
.footer-logo h1 {
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
    padding-top: 80px;
    padding-bottom: 25px;
}

.footer-logo h1 span {
    color: #FF42A5;
}
.copyright{
    color: rgba(255, 255, 255, 0.60);
}

/* responsive styles  */
/* for mobile  */
@media screen and (max-width:576px) {
    nav {
        flex-direction: column;
        height: 50vh;
        text-align: center;
        padding: 5px;

    }

    .nav-links ul {
        flex-direction: column;

    }

    .banner-container {
        flex-direction: column-reverse;
        background-position: bottom;

    }

    .banner-content {

        text-align: center;

    }

    .banner-title {
        font-size: 18px;
    }

    .banner-highlight {
        font-size: 20px;
    }

    .banner-description {
        font-size: 8px;
    }

    .btn {
        font-size: 14px;
        padding: 5px 5px;
    }

    .banner-description {
        margin-bottom: 15px;
    }

    .we-are-gamer-container {
        flex-direction: column;
    }

    .we-are-gamer-title {
        font-size: 20px;
    }

    .we-are-gamer-description {
        font-size: 15px;
    }

    .we-are-gamer-content {
        text-align: center;
        margin-bottom: 20px;
    }

    .online-games-box-content {
        grid-template-columns: 1fr;
    }

    .online-gamer-title {
        font-size: 20px;
    }

    .online-gamer-description {
        font-size: 10px;
    }

    .play-instantly-container {
        flex-direction: column;
    }

    .play-instantly-title {
        font-size: 25px;
        text-align: center;
    }

    .play-instantly-description {
        font-size: 12px;
        text-align: center;
    }

    

    .p-i-c-i-1 {
        margin-right: 60px;
        width: 150px;
        height: 200px;
        position: relative;
    }

    .p-i-c-i-2 {

        width: 100px;
        position: relative;

        right: 70%;
    }
    .games-catagories{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .games-catagories-container{
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3, 1fr);
        width: 90%;
        height: fit-content;
       
      
    
    }
    .games-catagories-box{
        padding:  5px;
        background-color: #FFF;
        border-radius: 25px;
       
    
    }
    
    .games-catagories-box h5{
        font-size:9px;
        
    }
    .games-catagories-box img {
        width:20px;
        height: 20px;
        margin: 0px 2px;
    }
    .games-catagories{
        margin-bottom: 50px;
        max-height: fit-content;
    }
   .footer-container{
    height: fit-content;
   }
    .footer-logo img {
        width: 40px;
        height: 20px;
    }
    .footer-list-item ul{

        grid-template-columns: repeat(3,100px); 
        grid-template-rows: repeat(3,1fr);
        margin: 10px 0px;
       
        
    
    }
    .footer-list-item ul li{
        text-align: center;
        font-size: 15px;
        margin: 5px 0px;
    }
    .footer-icons{
        font-size: 25px;
        gap: 25px;
        grid-template-columns: repeat(3,70px);
        grid-template-rows: repeat(3,1fr);
        margin: 10px 0px;

         
    }
    .terms-condition-section ul{
        display: grid;
        grid-template-columns: repeat(2,150px);
        grid-template-rows: repeat(2,1fr);
        margin: 10px 0px;  
    
   
    }
    .footer-logo h1 {
        text-align: center;
        font-size: 1.5rem;
        font-weight: 700;
        padding-top: 80px;
        padding-bottom: 25px;
    }
    .copyright{
        
        width: 80%;
        margin: auto;
       
    }
    }

    


/* for tablet  */
@media screen and (min-width:576px) and (max-width:1024px) {
    .nav-links ul {
        gap: 30px;
    }

    .banner-container {
        flex-direction: column-reverse;
        background-position: bottom;

    }

    .banner-content {

        text-align: left;

    }

    .banner-title {
        font-size: 40px;
    }

    .banner-highlight {
        font-size: 45px;
    }

    .banner-description {
        font-size: 20px;
    }

    .btn {
        font-size: 14px;
        padding: 15px 20px;

    }

    .banner-description {
        margin-bottom: 18px;
    }

    .we-are-gamer-container {
        flex-direction: column;
    }

    .we-are-gamer-title {
        font-size: 20px;
    }

    .we-are-gamer-description {
        font-size: 15px;
    }

    .we-are-gamer-content {
        text-align: center;
    }

    .play-instantly-container {
        flex-direction: column;
    }

    .p-i-c-i-1 {
        margin-right: 60px;
        width: 400px;
        height: 500px;
        position: relative;
    }

    .p-i-c-i-2 {

        width: 150px;
        position: relative;
        top: 20%;
        right: 80%;
    }
    .games-catagories-container{
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3, 1fr);
        width: 90%;
        height: fit-content;
       
      
    
    }
    .games-catagories-box{
        padding:  12px 15px;
        background-color: #FFF;
        border-radius: 25px;
       
    
    }
    
    .games-catagories-box h5{
        font-size:9px;
        
    }
    .games-catagories-box img {
        width:20px;
        height: 20px;
        margin: 0px 2px;
    }
   .footer-container{
    height: fit-content;
   }
    .footer-logo img {
        width: 40px;
        height: 20px;
    }
    .footer-list-item ul{

        grid-template-columns: repeat(3,150px); 
        grid-template-rows: repeat(3,1fr);
        margin: 10px 0px;
       
        
    
    }
    .footer-list-item ul li{
        text-align: center;
        font-size: 15px;
        margin: 5px 0px;
    }
    .footer-icons{
        font-size: 25px;
        gap: 25px;
        grid-template-columns: repeat(3,70px);
        grid-template-rows: repeat(3,1fr);
        margin: 10px 0px;

         
    }
    .terms-condition-section ul{
        display: grid;
        grid-template-columns: repeat(2,150px);
        grid-template-rows: repeat(2,1fr);
        margin: 10px 0px;

       
        
    
   
    }
    .footer-logo h1 {
        text-align: center;
        font-size: 1.5rem;
        font-weight: 700;
        padding-top: 80px;
        padding-bottom: 25px;
    }
    .copyright{
        
        width: 80%;
        margin: auto;
       
    }
    
}

    


